@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova-Regular.otf");
  }

html {
    --primairy-color-orange: #F7A100;
    --primairy-color-white: #FFFFFF;
    --primairy-color-blue: #0071B3;
    --primairy-color-black: #333333;

    --secundairy-color-brown:#53241B;
    --secundairy-color-blue:#478BB3;
    --secundairy-color-yellow:#F8C463;
    --secundairy-color-brown:#66BA96;

    --grayscale-color-lightest-gray:#EDEDED;
    --grayscale-color-light-gray:#CCCCCC;
    --grayscale-color-gray:#666666;
    --grayscale-color-darkest-gray:#333333;

    --content-radius: 3px;
    --regular-text: 16px;
    --fonts:"ProximaNova", sans-serif;    
}



body {
    font-family: var(--fonts);
    margin: 5em 5em 5em 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


h1, h2, h3, h4, h5, h6, p {
    color: var(--primairy-color-black);
    margin-block-start: 0.5em;
    margin-block-end: 0.8em;
    max-width: 500px;
}

h1 {
    border-bottom: var(--primairy-color-orange);
    border-bottom-style: solid;
    border-width: .3em;
}

button {
    border-radius: var(--content-radius);
    background-color: var(--primairy-color-blue);
    text-align: center;
    border: none;
    padding: 1rem 1rem;
    font-family: var(--fonts);
    color: var(--primairy-color-white);
    max-width: 200px;
    margin-bottom: .5em;
}

#alternative-button {
    background-color: var(--primairy-color-orange);
}

div {
    background-color: var(--secundairy-color-yellow);
    padding: 2em;
    margin-block-start: 1em;
    max-width: 600px;
}

#custom-properties {
    background-color: var(--secundairy-color-blue);
}

#custom-properties p {
    color: var(--primairy-color-white);
    font-size: 18px;
}